*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  color: #138B70;
  width: 100%;
  margin: 0;
  padding: 0;
}
#title{
  /* background-color: #138B70;; */
  color: #138B70;
}


h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}

.footer{
  padding-top:6rem;
  color: white;
  background-color: #138B70;
  text-align: center;
}
  

.footer-icon{   
  margin: 3%;
}

h3{
  padding-bottom: 2px;
}

.hoverspan:hover {
  border-bottom: 2px solid #138B70;;
  cursor: pointer;
}


.footer-icon{
  padding: 1.5%;
  border: 1px solid white;
  border-radius: 50%;
  transition-duration: .5s;
	transform: rotateX(45deg);
	cursor: pointer;
  color: white;
}

.fa-twitter {
  background-color: gray;
}
.fa-facebook {
  background-color: gray;
}
.fa-instagram {
  background-color:  gray;
}


.footer-icon:hover{
		transform: scale(1.2);
		box-shadow: none;
}

.container-fluid{
  padding: 1% 10%;
}
/* navigation bar */
.navbar{
  padding: 0% 10% 2.5rem;
  margin-top: 0%;
  display: flex;
  justify-content: space-between;
 
}
.navbar-brand{
  font-size: 2.0rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  color: #138B70;;
}
.nav-link:hover{
 color: #138B70;;
}

.navbar-toggler{
  color: #138B70;;
}

.second-text{
  text-align: center;
  max-width: 60%;
}

/* download button */
.download-button{
   margin: 5% 3% 5% 0;
   background-color: #138B70;
   color: white;
   border-radius: 30%;
    height: 3.9375em;
    border-radius: 1.80125em;
    padding: 0 1.875em;
 
}

.download-button:hover{
  transform: scale(1.1);
  box-shadow: none;
  background-color: #138B70;
  color: white;
}


.h2-section{
  text-align: right;
  margin: auto;
}


/* title immage */
.title-image{
  width: 100%;
  border-radius: 10px;
}

.second-section{
  background-color: #138B70;
  color: white;
  padding: 7% 5%;
}



.logo{
  width: 200px;
  height: 150px;
}

/*  card */
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');

.card-section{
  padding:30px 0; 
  position:relative; 
  overflow:hidden; 
  background: white;
  margin: 30px;
}

.card-section:before{
  content:"";
  position:absolute; 
  width:100%; 
  height:100%;   
  background-color:#fff; 
  filter: blur(10px); 
  z-index:0; 
  transform: scale(2);-ms-transform: scale(2); 
  -webkit-transform: scale(2);
}

.card{
  box-shadow:2px 2px 20px rgba(19,139,112,0.3); border:none; margin-bottom:30px;
  height: 100%;
}
.card:hover{
  transform: scale(1.05);
  transition: all 1s ease;
  z-index: 999;
}
.card-01 .card-body{
  position:relative;
  padding-top:40px;
}


